<h1>Add a new product</h1>
<form [formGroup]="productData">
  <div>
    <label for="title">title</label>
    <input type="text" name="title" id="title" formControlName="title" />
    <p class="text-danger" *ngIf="title.invalid && title.touched">
      This field is required
    </p>
  </div>
  <div>
    <label for="description">description</label>
    <input
      type="text"
      name="description"
      id="description"
      formControlName="description"
    />
    <p class="text-danger" *ngIf="description.invalid && description.touched">
      This field is required
    </p>
  </div>
  <div>
    <label for="imgUrl">image Url</label>
    <input type="text" name="imgUrl" id="imgUrl" formControlName="imgUrl" />
    <p class="text-danger" *ngIf="imgUrl.invalid && imgUrl.touched">
      This field is required
    </p>
  </div>
  <div>
    <label for="price">price</label>
    <input
      type="number"
      name="price"
      id="price"
      formControlName="price"
      min="0"
    />
    <p class="text-danger" *ngIf="price.errors?.['required'] && price.touched">
      This field is required
    </p>
    <p class="text-danger" *ngIf="price.errors?.['min'] && price.touched">
      Price can not be less than zero!
    </p>
  </div>
  <button
    type="submit"
    [disabled]="productData.invalid"
    (click)="submitProductData(productData.value)"
  >
    submit
  </button>
</form>
